// recommended in ".col-md-8" (<div class='.col-md-8'></div>)
// TABLE: LATEST ORDERS
.box.box-info
  .box-header.with-border
    h3.box-title Latest Orders
    .box-tools.pull-right
      button.btn.btn-box-tool(type='button', data-widget='collapse')
        i.fa.fa-minus
      button.btn.btn-box-tool(type='button', data-widget='remove')
        i.fa.fa-times
  // /.box-header
  .box-body
    .table-responsive
      table.table.no-margin
        thead
          tr
            th Order ID
            th Item
            th Status
            th Popularity
        tbody
          tr
            td
              a(href='pages/examples/invoice.html') OR9842
            td Call of Duty IV
            td
              span.label.label-success Shipped
            td
              .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
          tr
            td
              a(href='pages/examples/invoice.html') OR1848
            td Samsung Smart TV
            td
              span.label.label-warning Pending
            td
              .sparkbar(data-color='#f39c12', data-height='20') 90,80,-90,70,61,-83,68
          tr
            td
              a(href='pages/examples/invoice.html') OR7429
            td iPhone 6 Plus
            td
              span.label.label-danger Delivered
            td
              .sparkbar(data-color='#f56954', data-height='20') 90,-80,90,70,-61,83,63
          tr
            td
              a(href='pages/examples/invoice.html') OR7429
            td Samsung Smart TV
            td
              span.label.label-info Processing
            td
              .sparkbar(data-color='#00c0ef', data-height='20') 90,80,-90,70,-61,83,63
          tr
            td
              a(href='pages/examples/invoice.html') OR1848
            td Samsung Smart TV
            td
              span.label.label-warning Pending
            td
              .sparkbar(data-color='#f39c12', data-height='20') 90,80,-90,70,61,-83,68
          tr
            td
              a(href='pages/examples/invoice.html') OR7429
            td iPhone 6 Plus
            td
              span.label.label-danger Delivered
            td
              .sparkbar(data-color='#f56954', data-height='20') 90,-80,90,70,-61,83,63
          tr
            td
              a(href='pages/examples/invoice.html') OR9842
            td Call of Duty IV
            td
              span.label.label-success Shipped
            td
              .sparkbar(data-color='#00a65a', data-height='20') 90,80,90,-70,61,-83,63
    // /.table-responsive
  // /.box-body
  .box-footer.clearfix
    a.btn.btn-sm.btn-info.btn-flat.pull-left(href='javascript:void(0)') Place New Order
    a.btn.btn-sm.btn-default.btn-flat.pull-right(href='javascript:void(0)') View All Orders
  // /.box-footer
// /.box
