// better in ".col-md-12" (<div class='.col-md-12'></div>)
.box.box-info
  // DataTables
  link(rel='stylesheet', href='/plugins/datatables/dataTables.bootstrap.css')
  // DataTables
  script(src='/plugins/datatables/jquery.dataTables.min.js')
  script(src='/plugins/datatables/dataTables.bootstrap.min.js')
  script(src="t_analytics/scripts/datatables.js")
  script(src="t_analytics/scripts/get_url_params.js")
  script.
    console.log(GetParams())
  //style.
    div.container {
        width: 80%;
    }
  .box-header
    i.fa.fa-puzzle-piece
    h3.box-title 端末一覧
  // /.box-header
  .box-body
    table#example1.table.table-bordered.table-striped.hover
      //thead
        tr
          th Name
          th Position
          th Office
          th Extn.
          th Start date
          th Salary
      //tfoot
        tr
          th Name
          th Position
          th Office
          th Extn.
          th Start date
          //th Salary
  // /.box-body
// /.box
