// Info boxes
.col-md-3.col-sm-6.col-xs-12
  .info-box
    span.info-box-icon.bg-aqua
      i.ion.ion-ios-gear-outline
    .info-box-content
      span.info-box-text(style='font-size:1.2em;margin-top:10px;margin-left:5px') 本日利用回数
      span.info-box-number(style='font-size:1.2em;margin-left:5px')
        | 90
        small %
    // /.info-box-content
  // /.info-box
// /.col
.col-md-3.col-sm-6.col-xs-12
  .info-box
    span.info-box-icon.bg-red
      i.fa.fa-google-plus
    .info-box-content
      span.info-box-text 発送待ち
      span.info-box-number 41,410
    // /.info-box-content
  // /.info-box
// /.col
// fix for small devices only
.clearfix.visible-sm-block
.col-md-3.col-sm-6.col-xs-12
  .info-box
    span.info-box-icon.bg-green
      i.ion.ion-ios-cart-outline
    .info-box-content
      span.info-box-text 発送済み
      span.info-box-number 760
    // /.info-box-content
  // /.info-box
// /.col
.col-md-3.col-sm-6.col-xs-12
  .info-box
    span.info-box-icon.bg-yellow
      i.ion.ion-ios-people-outline
    .info-box-content
      span.info-box-text 利用者数
      span.info-box-number 2,000
    // /.info-box-content
  // /.info-box
// /.col
