.box.box-info
  script(src="t_analytics/scripts/init_input_device.js")
  .box-header.with-border
    i.fa.fa-puzzle-piece
    h3.box-title 端末設定
  .box-body
    h4 端末設定：
    .row
      .col-md-8
        .form-group.input-group-sm
          label UUID:
            //.col-sm-10
          input.form-control(type='text', placeholder='UUID')
      .col-md-2.col-xs-8
        .form-group.input-group-sm
          label 電池電量:
            //.col-sm-10
          select.form-control
            option(value='4') 100%
            option(value='3') 75%
            option(value='2') 50%
            option(value='1') 25%
            option(value='0') 0%
      .col-md-2.col-xs-8
        .form-group.input-group-sm
          label 端末状況:
          select.form-control.device_statuses
            option(value='', disabled='', selected='') 端末状況

    HR
    h4 商品設定：
    .row
      .col-md-3
        .form-group.input-group-sm
          label 商品番号:
          input.form-control(type='text',placeholder='商品番号')
      .col-md-3.col-xs-8
        .form-group.input-group-sm
          label ランク:
          select.form-control.ranks
            option(value='', disabled='', selected='') ランク
      .col-md-6.col-xs-8
        .form-group.input-group-sm
          label 自動注文トリガー:
          select.form-control.auto_order_triggers
            option(value='', disabled='', selected='') 自動注文トリガー

    .row
      .col-md-6.col-xs-8
        .form-group.input-group-sm
          label 商品:
          select.form-control.items
            option(value='', disabled='', selected='') 商品名 (商品番号)
      .col-md-6.col-xs-8
        .form-group.input-group-sm
          label フォローアップトリガー:
          select.form-control.follow_up_triggers
            option(value='', disabled='', selected='') フォローアップトリガー

    HR
    h4 顧客設定：
    .row
      .col-md-3
        .form-group.input-group-sm
          //label 名前:
          input.form-control(type='text', placeholder='名前')
      //.col-md-3
        .form-group.input-group-sm.input-group
            label 郵便番号:
            //span.input-group-addon $
            input.form-control(type='number', placeholder='1500001')

      .col-md-3
        .input-group.input-group-sm
          span.input-group-addon 〒
          //label 郵便番号:
          input.form-control(type='text',placeholder='郵便番号')
          //label 　　　　　　　　　　
          span.input-group-btn
            button.btn.btn-info.btn-flat(type='button') 検索
      .col-md-4
        .form-group.input-group-sm
          //label Email:
          input.form-control(type='email', placeholder='example@example.com')
      .col-md-2
        .form-group.input-group-sm
          //label.col-sm-2.control-label 性別:
          select.sexes.form-control
            option(value='', disabled='', selected='') 性別

    .row
      .col-md-3
        .form-group.input-group-sm
          //label フリガナ:
          input.form-control(type='text', placeholder='フリガナ')
      .col-md-7
        .form-group.input-group-sm
          //label 住所:
          input.form-control(type='text', placeholder='住所')
      //.col-md-3
        .form-group.input-group-sm
          label 住所:
          input.form-control(type='text', placeholder='Email')
      .col-md-2
        .form-group.input-group-sm
          select.form-control.age_groups
            option(value='', disabled='', selected='') 年代


  .box-footer
    .row
      .col-md-4
      .col-md-2(style="margin:5px")
        button.btn.btn-block.btn-warning クリア
      .col-md-2(style="margin:5px")
        button.btn.btn-block.btn-primary 登録
      .col-md-4

  // /.box-body
// /.box
